﻿@using WDDAutograder.GradingUtilities.Tests
@using WDDAutograder.GradingUtilities
@model WDDWebGrader.Models.AutogradeModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>WDD Autograde Results</h2>
<div>
    <p>Class Account: @Model.Result.ClassAccount</p>
    <p>Assignment: @Model.Result.WDDAssignment.Name</p>
    <p>Grade: @Model.Result.Grade%</p>
    <p>URL: <a href="http://inst.eecs.berkeley.edu/~@Model.Result.ClassAccount/@Model.Result.WDDAssignment.Url">
                http://inst.eecs.berkeley.edu/~@Model.Result.ClassAccount/@Model.Result.WDDAssignment.Url
            </a>
    </p>
    <p style="width:600px;color:blue;"><b>Before</b> asking a TA why your lab did not pass the autograder, please take the time to look at the test output. It is designed to let you know specifically
        what went <b>wrong.</b> If you can't figure it out by inspection, there are <b>links</b> to the files checked by the autograder. <b>Click</b> on them to look at your webpage. If it is
        an html page, right click anywhere and "View Page Source". Using this compare the autograder tests to insure you have <b>completed every piece</b>.
    </p>
</div>

<div>
    <p>
        Autograder ran: <b>@Model.Result.WDDAssignment.TestCount test(s).</b>
    </p>
    @if (Model.Result.WDDAssignment.HtmlAssignment != null)
    {
        <p>HTML Tests</p>
        <p>File Checked: <a href="@TestRunner.MakeUrlString(Model.Result.WDDAssignment, TestRunner.AssignmentType.Html, Model.Result.ClassAccount)">
                             @TestRunner.MakeUrlString(Model.Result.WDDAssignment, TestRunner.AssignmentType.Html, Model.Result.ClassAccount)
                         </a>
        </p>
        <p>____________________________________________________________________________________________________</p>
        <p>
            <span>Autograder passed these tests: </span> 
            @if (Model.Result.WDDAssignment.HtmlAssignment.PassedTests.Count == 0)
            {
                <span class="redText">No Tests Passed, @Model.Result.WDDAssignment.HtmlAssignment.AssignmentTests.Count Run</span>
            }
            else
            {
                <span class="greenText">@Model.Result.WDDAssignment.HtmlAssignment.PassedTests.Count Passed, @Model.Result.WDDAssignment.HtmlAssignment.AssignmentTests.Count Run</span>
            }
        </p>
        <span class="greenText">Passed Tests</span>
        foreach (AssignmentTest t in Model.Result.WDDAssignment.HtmlAssignment.PassedTests)
        {
            <p>--------------------------------------------------------</p>
            <p class="test">Test #@Model.PassCounter</p>
            Model.PassCounter++;
            <div>
                <span>That your <b>does</b> html includes these: </span>
                @if (t.ContainsTextList.Count == 0)
                {
                    <span class="greenText">No Tests Run</span>
                }
                <ul>
                    @foreach (String s in t.ContainsTextList)
                    {
                        <li>@s</li>
                    }
                </ul>
            </div>
            <div>
                <span>That your html <b>does not</b> includes these: </span>
                @if (t.FailTextList.Count == 0)
                {
                    <span class="greenText">No Tests Run</span>
                }
                <ul>
                    @foreach (String s in t.FailTextList)
                    {
                        <li>@s</li>
                    }
                </ul>
            </div>
            <div>
                <span>That your html <b>does</b> pass this regex:</span>
                @if (t.RegexList.Count == 0)
                {
                    <span class="greenText">No Tests Run</span>
                }
                <ul>
                    @foreach (Tuple<string, string> tu in t.RegexList)
                    {
                        <li>Description: @tu.Item2 Regex: @tu.Item1</li>
                    }
                </ul>
            </div>
            <div>
                <span>That your <b>does</b> passes our method tests:</span>
                @if (t.ValidateMethodList.Count == 0)
                {
                    <span class="greenText">No Tests Run</span>
                }
                <ul>
                    @foreach (Delegate s in t.ValidateMethodList)
                    {
                        <li>@s.Method.ToString()</li>
                    }
                </ul>
            </div>
            <p>--------------------------------------------------------</p>
        }
        <p>
            <span>Autograder failed these tests: </span> 
            @if (Model.Result.WDDAssignment.HtmlAssignment.FailedTests.Count == 0)
            {
                <span class="greenText">No Tests Passed, @Model.Result.WDDAssignment.HtmlAssignment.AssignmentTests.Count Run</span>
            }
            else
            {
                <span class="redText">@Model.Result.WDDAssignment.HtmlAssignment.FailedTests.Count Failed, @Model.Result.WDDAssignment.HtmlAssignment.AssignmentTests.Count Run</span>
            }
        </p>
        <span class="redText">Failed Tests</span>
        foreach (AssignmentTest t in Model.Result.WDDAssignment.HtmlAssignment.FailedTests)
        {
            <p>--------------------------------------------------------</p>
            <p class="test">Test #@Model.FailedCounter</p>
            Model.FailedCounter++;
            <div>
                <span>That your html <b>does</b> includes these: </span>
                @if (t.ContainsTextList.Count == 0)
                {
                    <span class="greenText">No Tests Run</span>
                }
                <ul>
                    @foreach (String s in t.ContainsTextList)
                    {
                        <li>@s</li>
                    }
                </ul>
            </div>
            <div>
                <span>That your html <b>does not</b> includes these: </span>
                @if (t.FailTextList.Count == 0)
                {
                    <span class="greenText">No Tests Run</span>
                }
                <ul>
                    @foreach (String s in t.FailTextList)
                    {
                        <li>@s</li>
                    }
                </ul>
            </div>
            <div>
                <span>That your html <b>does</b> pass this regex:</span>
                @if (t.RegexList.Count == 0)
                {
                    <span class="greenText">No Tests Run</span>
                }
                <ul>
                    @foreach (Tuple<string, string> tu in t.RegexList)
                    {
                        <li>Description: @tu.Item2 Regex: @tu.Item1</li>
                    }
                </ul>
            </div>
            <div>
                <span>That your html <b>does</b> passes our method tests:</span>
                @if (t.ValidateMethodList.Count == 0)
                {
                    <span class="greenText">No Tests Run</span>
                }
                <ul>
                    @foreach (Delegate s in t.ValidateMethodList)
                    {
                        <li>@s.Method.ToString()</li>
                    }
                </ul>
            </div>
            <p>--------------------------------------------------------</p>
        }
    }
    @if (Model.Result.WDDAssignment.CssAssignment != null)
    {
        <p>CSS Tests</p>
        <p>File Checked: <a href="@TestRunner.MakeUrlString(Model.Result.WDDAssignment, TestRunner.AssignmentType.Css, Model.Result.ClassAccount)">
                             @TestRunner.MakeUrlString(Model.Result.WDDAssignment, TestRunner.AssignmentType.Css, Model.Result.ClassAccount)
                         </a>
        </p>
        <p>____________________________________________________________________________________________________</p>
        <p>
            <span>Autograder passed these tests: </span> 
            @if (Model.Result.WDDAssignment.CssAssignment.PassedTests.Count == 0)
            {
                <span class="redText">No Tests Passed, @Model.Result.WDDAssignment.CssAssignment.AssignmentTests.Count Run</span>
            }
            else
            {
                <span class="greenText">@Model.Result.WDDAssignment.CssAssignment.PassedTests.Count Passed, @Model.Result.WDDAssignment.CssAssignment.AssignmentTests.Count Run</span>
            }
        </p>
        <span class="greenText">Passed Tests</span>
        foreach (AssignmentTest t in Model.Result.WDDAssignment.CssAssignment.PassedTests)
        {
            <p>--------------------------------------------------------</p>
            <p class="test">Test #@Model.PassCounter</p>
            Model.PassCounter++;
            <div>
                <span>That your css <b>does</b> includes these: </span>
                @if (t.ContainsTextList.Count == 0)
                {
                    <span class="greenText">No Tests Run</span>
                }
                <ul>
                    @foreach (String s in t.ContainsTextList)
                    {
                        <li>@s</li>
                    }
                </ul>
            </div>
            <div>
                <span>That your css <b>does not</b> includes these: </span>
                @if (t.FailTextList.Count == 0)
                {
                    <span class="greenText">No Tests Run</span>
                }
                <ul>
                    @foreach (String s in t.FailTextList)
                    {
                        <li>@s</li>
                    }
                </ul>
            </div>
            <div>
                <span>That your css <b>does</b> pass this regex:</span>
                @if (t.RegexList.Count == 0)
                {
                    <span class="greenText">No Tests Run</span>
                }
                <ul>
                    @foreach (Tuple<string, string> tu in t.RegexList)
                    {
                        <li>Description: @tu.Item2 Regex: @tu.Item1</li>
                    }
                </ul>
            </div>
            <div>
                <span>That your css <b>does</b> passes our method tests:</span>
                @if (t.ValidateMethodList.Count == 0)
                {
                    <span class="greenText">No Tests Run</span>
                }
                <ul>
                    @foreach (Delegate s in t.ValidateMethodList)
                    {
                        <li>@s.Method.ToString()</li>
                    }
                </ul>
            </div>
            <p>--------------------------------------------------------</p>
        }
        <p>
            <span>Autograder failed these tests: </span> 
            @if (Model.Result.WDDAssignment.CssAssignment.FailedTests.Count == 0)
            {
                <span class="greenText">No Tests Passed, @Model.Result.WDDAssignment.CssAssignment.AssignmentTests.Count Run</span>
            }
            else
            {
                <span class="redText">@Model.Result.WDDAssignment.CssAssignment.FailedTests.Count Failed, @Model.Result.WDDAssignment.CssAssignment.AssignmentTests.Count Run</span>
            }
        </p>
        <span class="redText">Failed Tests</span>
        foreach (AssignmentTest t in Model.Result.WDDAssignment.CssAssignment.FailedTests)
        {
            <p>--------------------------------------------------------</p>
            <p class="test">Test #@Model.FailedCounter</p>
            Model.FailedCounter++;
            <div>
                <span>That your css <b>does</b> includes these: </span>
                @if (t.ContainsTextList.Count == 0)
                {
                    <span class="greenText">No Tests Run</span>
                }
                <ul>
                    @foreach (String s in t.ContainsTextList)
                    {
                        <li>@s</li>
                    }
                </ul>
            </div>
            <div>
                <span>That your css <b>does not</b> includes these: </span>
                @if (t.FailTextList.Count == 0)
                {
                    <span class="greenText">No Tests Run</span>
                }
                <ul>
                    @foreach (String s in t.FailTextList)
                    {
                        <li>@s</li>
                    }
                </ul>
            </div>
            <div>
                <span>That your css <b>does</b> pass this regex:</span>
                @if (t.RegexList.Count == 0)
                {
                    <span class="greenText">No Tests Run</span>
                }
                <ul>
                    @foreach (Tuple<string, string> tu in t.RegexList)
                    {
                        <li>Description: @tu.Item2 Regex: @tu.Item1</li>
                    }
                </ul>
            </div>
            <div>
                <span>That your css <b>does</b> passes our method tests:</span>
                @if (t.ValidateMethodList.Count == 0)
                {
                    <span class="greenText">No Tests Run</span>
                }
                <ul>
                    @foreach (Delegate s in t.ValidateMethodList)
                    {
                        <li>@s.Method.ToString()</li>
                    }
                </ul>
            </div>
            <p>--------------------------------------------------------</p>
        }
    }
    @if (Model.Result.WDDAssignment.JsAssignment != null)
    {
        <p>JS Tests</p>
        <p>File Checked: <a href="@TestRunner.MakeUrlString(Model.Result.WDDAssignment, TestRunner.AssignmentType.Js, Model.Result.ClassAccount)">
                             @TestRunner.MakeUrlString(Model.Result.WDDAssignment, TestRunner.AssignmentType.Js, Model.Result.ClassAccount)
                         </a>
        </p>
        <p>____________________________________________________________________________________________________</p>
        <p>
            <span>Autograder passed these tests: </span> 
            @if (Model.Result.WDDAssignment.JsAssignment.PassedTests.Count == 0)
            {
                <span class="redText">No Tests Passed, @Model.Result.WDDAssignment.JsAssignment.AssignmentTests.Count Run</span>
            }
            else
            {
                <span class="greenText">@Model.Result.WDDAssignment.JsAssignment.PassedTests.Count Passed, @Model.Result.WDDAssignment.JsAssignment.AssignmentTests.Count Run</span>
            }
        </p>
        <span class="greenText">Passed Tests</span>
        foreach (AssignmentTest t in Model.Result.WDDAssignment.JsAssignment.PassedTests)
        {
            <p>--------------------------------------------------------</p>
            <p class="test">Test #@Model.PassCounter</p>
            Model.PassCounter++;
            <div>
                <span>That your <b>does</b> js includes these: </span>
                @if (t.ContainsTextList.Count == 0)
                {
                    <span class="greenText">No Tests Run</span>
                }
                <ul>
                    @foreach (String s in t.ContainsTextList)
                    {
                        <li>@s</li>
                    }
                </ul>
            </div>
            <div>
                <span>That your js <b>does not</b> includes these: </span>
                @if (t.FailTextList.Count == 0)
                {
                    <span class="greenText">No Tests Run</span>
                }
                <ul>
                    @foreach (String s in t.FailTextList)
                    {
                        <li>@s</li>
                    }
                </ul>
            </div>
            <div>
                <span>That your js <b>does</b> pass this regex:</span>
                @if (t.RegexList.Count == 0)
                {
                    <span class="greenText">No Tests Run</span>
                }
                <ul>
                    @foreach (Tuple<string, string> tu in t.RegexList)
                    {
                        <li>Description: @tu.Item2 Regex: @tu.Item1</li>
                    }
                </ul>
            </div>
            <div>
                <span>That your js <b>does</b> passes our method tests:</span>
                @if (t.ValidateMethodList.Count == 0)
                {
                    <span class="greenText">No Tests Run</span>
                }
                <ul>
                    @foreach (Delegate s in t.ValidateMethodList)
                    {
                        <li>@s.Method.ToString()</li>
                    }
                </ul>
            </div>
            <p>--------------------------------------------------------</p>
        }
        <p>
            <span>Autograder failed these tests: </span> 
            @if (Model.Result.WDDAssignment.JsAssignment.FailedTests.Count == 0)
            {
                <span class="greenText">No Tests Passed, @Model.Result.WDDAssignment.JsAssignment.AssignmentTests.Count Run</span>
            }
            else
            {
                <span class="redText">@Model.Result.WDDAssignment.JsAssignment.FailedTests.Count Failed, @Model.Result.WDDAssignment.JsAssignment.AssignmentTests.Count Run</span>
            }
        </p>
        <span class="redText">Failed Tests</span>
        foreach (AssignmentTest t in Model.Result.WDDAssignment.JsAssignment.FailedTests)
        {
            <p>--------------------------------------------------------</p>
            <p class="test">Test #@Model.FailedCounter</p>
            Model.FailedCounter++;
            <div>
                <span>That your js <b>does</b> includes these: </span>
                @if (t.ContainsTextList.Count == 0)
                {
                    <span class="greenText">No Tests Run</span>
                }
                <ul>
                    @foreach (String s in t.ContainsTextList)
                    {
                        <li>@s</li>
                    }
                </ul>
            </div>
            <div>
                <span>That your js <b>does not</b> includes these: </span>
                @if (t.FailTextList.Count == 0)
                {
                    <span class="greenText">No Tests Run</span>
                }
                <ul>
                    @foreach (String s in t.FailTextList)
                    {
                        <li>@s</li>
                    }
                </ul>
            </div>
            <p>
                <span>That your js <b>does</b> pass this regex:</span>
                @if (t.RegexList.Count == 0)
                {
                    <span class="greenText">No Tests Run</span>
                }
                <ul>
                    @foreach (Tuple<string, string> tu in t.RegexList)
                    {
                        <li>Description: @tu.Item2 Regex: @tu.Item1</li>
                    }
                </ul>
            </p>
            <p>
                <span>That your js <b>does</b> passes our method tests:</span>
                @if (t.ValidateMethodList.Count == 0)
                {
                    <span class="greenText">No Tests Run</span>
                }
                <ul>
                    @foreach (Delegate s in t.ValidateMethodList)
                    {
                        <li>@s.Method.ToString()</li>
                    }
                </ul>
            </p>
            <p>--------------------------------------------------------</p>
        }
    }
</div>