﻿@using WDDAutograder.GradingUtilities.StudentUtilities
@model WDDWebGrader.Models.StudentsModel
@{
    ViewBag.Title = "Index";
}
<style>
    table, tr, th, td {
        border: 1px solid black;
    }
</style>
<h2>List of Students in WDD Autograder</h2>
<p>
    Below are all the student accounts that I know about. If you are not on that list, please send 
    me an email at ski.rodriguez@gmail.com. In the subject line include "[WDD]" and "Add Class Account" please.
</p>
<table>
    <tr>
        <th>Class Account</th>
        <th>Student name</th>
    </tr>
    @foreach (Student s in Model.Students)
    {
        <tr>
        <td>
            <span>@s.ClassAccount</span>
        </td>
        <td>
            <span>@s.Name</span>
        </td>
        </tr>
    }
</table>
