﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>WDD Autograder</h2>
<p>
    On this website you can see what the WDD autograder would return for your assignment.
    The application is very simple, select your assignment from the dropdown, and enter 
    your class account. 
</p>
<p>
    It will run our tests on the link found at 
    http://inst.eecs.berkeley.edu/~cs198-##/assignment
    Where ## is your class account and assignment is the actual name such as lab1, lab2, etc
</p>
<form action="/Autograde" method="get">
    Assignment: <select name="assignmentName">
                    <option value="lab1">lab1</option>
                    <option value="lab2">lab2</option>
                    <option value="lab3">lab3</option>
                    <option value="lab4">lab4</option>
                    <option value="lab5">lab5</option>
                    <option value="lab6">lab6</option>
                    <option value="lab7">lab7</option>

    </select>
    Class Account (ex. cs198-ko, cs198-kj): <input type="text" name="classAccount" />
    <input type="submit" value="submit" />
</form>
